
@import "../../../assets/css/modules/_variables";
@import "../../../assets/css/modules/_functions";
@import "../../../assets/css/modules/_mixins";

.Wrapper {
	position: relative;
	// margin-top: -11.5vh;
	@include margin-top(-2);
	z-index: 10;
	.brainBook {
		display: block;
		margin: 0 auto;
		transform: translateX(15%);
		@media only screen and (max-width: 48rem) {
			display: none;
		}
	}

	use, path:nth-child(2) {
		animation: waves 60s linear infinite;
		animation-fill-mode: backwards;
	}

	@keyframes waves {
		0% {
			stroke-dasharray: 120 20;
		}
		100% {
			stroke-dasharray: 120 20;
			stroke-dashoffset: 1500;
		}
	}

	svg > g {
		transform-origin: 50% 50%;
		animation: pulse ease .2s infinite alternate;
		&:nth-child(2) {
			animation-delay: .1s;
			animation-duration: 1s;
		}
	}

	@keyframes pulse {
		0% { transform: scale(.995) }
		100% { transform: scale(1); }
	}

	path:nth-child(2) { opacity: 1; }
	// path { fill: pink; }

	.WrapperBody {
		// padding: 1rem 2.75rem;
		@include padding(1, 3, 1, 2);
		color: #e6e6e6;
		// color: #333;
		background-color: rgba(lighten(#36364F, 1.5), 0.75);
		// background-color: #f7f7f7;
		// background: rgba(30, 30, 43, 0.84);
		// background: rgba(#eee, 0.1);
		// box-shadow: 0 -4px 34px rgba(black ,0.1);
		box-shadow: 0 0 9.375rem -1.875rem rgba(0,0,0,.7);
		// border-radius: 2px;
		@media only screen and (max-width: 60rem) {
			@include padding(1, 1.25, 1, 1);
			// margin: 0 -1rem;
		}
		.Section {
			@include padding-top(2);
			@include padding-bottom(1);
			@media only screen and (max-width: 48rem) {
				@include padding-top(1);
				&:first-of-type {
					padding-top: 0;
				}
			}
		}
		.Title {
			display: table;
			position: relative;
			margin: 0;
			// color: #23e;
			color: $mustard-color;
			@include responsive-font(5vw, 2rem, 3rem, 2.5rem, false);
			@include line-height(2);
			@extend %letter-spacing;
			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-left: 1.25rem;
				margin-right: -1.75rem;
				margin-bottom: -12px;
				// color: #FF8787;
				width: 8px;
				height: 8px;
				box-shadow: 0 8px 0 0 currentColor,
							-8px 0 0 0 currentColor,
							0 -8px 0 0 currentColor;
			}
			// &:after {
			// 	content: '';
			// 	position: absolute;
			// 	top: 50%;
			// 	width: 1px;
			// 	height: 100%;
			// 	height: calc(100% - 5px);
			// 	right: 100%;
			// 	margin-right: 0.125rem;
			// 	transform: rotate(28deg) translateY(-50%);
			// 	transform-origin: 0 top;
			// 	background-color: currentColor;
			// 	mix-blend-mode: darken;
			// }
		}
		.Subtitle {
			display: block;
			position: relative;
			margin: 0;
			width: 36rem;
			max-width: 100%;
			// color: #23e;
			color: #f5f5f5;
			@include font-size(1.5);
			@include line-height(1);
			@include margin-bottom(1);
			@extend %letter-spacing;
		}
		p {
			// color: #9cfebc;
			color: #ffcebd;
			// @include margin-bottom(0.5);
		}
	}
}

.RowNativeSize {
	@include margin(0, -4.25, 0, -3.25);
	@media only screen and (min-width: 48rem) and (max-width: 60rem) {
		@include margin(0, -1, 0, -0.75);
	}
	@media only screen and (max-width: 48rem) {
		@include margin(0, -1.25, 0, -1);
	}
}
.Introduction {
	p {
		@include margin-top(1);
		@include margin-bottom(1);
	}
	&Button {
		@include margin-top(0.25);
		@include margin-bottom(0.25);
	}
}
.SpeakerBox {
	background-color: rgba(darken(#36364F, 8), 0.95);
	@include padding(1, 0.75, 1, 0.75);
	color: #333;
	@include margin(0.75, 0.5, 0.25, 0.5);
	flex: 1;
	// border-radius: 3px;
	box-shadow: 0 0 4rem -1rem rgba(black, 0.3);
	&Name {
		display: block;
		margin: 0;
		// color: #23e;
		color: $mustard-color;
		@include font-size(1.35);
		@include line-height(1);
		// @include margin-top(0.5);
		@extend %letter-spacing;
	}
	&About {
		display: block;
		margin: 0;
		// color: #23e;
		font-weight: bold;
		color: #f5f5f5;
		@include font-size(0.9);
		@extend %letter-spacing;
		user-select: none;
		span {
			display: inline-block;
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:after {
				content: '';
				width: 3px;
				height: 3px;
				display: inline-block;
				vertical-align: middle;
				background-color: currentColor;
				opacity: 0.75;
				margin: 0 0.75rem;
			}
		}
	}
	&Info {
		display: block;
		position: relative;
		margin: 0;
		@include font-size(0.9);
		@include line-height(0.9);
		@include margin-top(0.125);
	}
	&Social {
		display: block;
		// direction: ltr;
		@include margin-top(0.25);
		// text-align: right;
		line-height: 1;
		a {
			display: inline-block;
			margin-left: 1rem;
			line-height: 1;
			transition: 0.2s ease-in-out;
			transform: scale(1);
			transform-origin: top center;
			&:hover {
				opacity: 0.5;
				transform: scale(0.95);
			}
			img {
				display: block;
				margin: 0 auto;
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}

.Schedule {
	:global .normal {
		background-color: rgba(darken(#36364F, 8), 0.95);
		box-shadow: 0 0 1rem -1rem rgba(black, 0.3);
		> time {
			color: #ffcebd;
		}
		span:first-child {
			color: #ffcebd;
		}
	}
	&Lineup {
		@include padding(0.5, 1, 0.5, 1);
		border-bottom: 1px solid rgba(white, 0.1);
		&:last-child {
			border-bottom: 0;
		}
		&Time {
			@include font-size(0.9);
			color: $mustard-light-color;
			@include line-height(1);
		}
		&Subject {
			color: $mustard-light-color;
			font-size: 0.75em;
			font-family: $base-font-family;
			word-spacing: -1 / 5.989128 * 1em;
		}
		&Download {
			padding: 1rem;
			background-color: rgba(darken(#36364F, 8), 0.95);
			box-shadow: 0 0 1rem -1rem rgba(black, 0.3);
			display: table;
			color: #ffcebd;
			font-size: 0.9em;
			font-weight: bold;
			font-family: $base-font-family;
			@include margin-top(0.5);
			// @include margin-bottom(0.5);
			word-spacing: -1 / 5.989128 * 1em;
		}
		&Title {
			margin: 0;
			@include font-size(1.5);
			@include line-height(1);
			a {
				cursor: pointer;
			}
			&Space {
				color: $mustard-color;
				&:after {
					content: '؛';
					display: inline-block;
					margin-left: 0.5em;
				}
			}
		}
	}
}

.Location {
	&Step {
		display: block;
		color: $mustard-light-color;
		@include font-size(1.25);
		@include line-height(1);
		// @include margin(0, 0.5, 0, 0);
	}
}
.Map {
	max-height: 20rem;
	overflow: hidden;
	@include margin-top(1);
	// :global #pinPlace {
	// 	animation: shake 150ms 10 linear;
	// 	transform-origin: bottom center;
	// 	@keyframes :global shake {
	// 		0% {
	// 			transform: translate(3px, 0);
	// 		}
	// 		50% {
	// 			transform: translate(-3px, 0);
	// 		}
	// 		100% {
	// 			transform: translate(0, 0);
	// 		}
	// 	}
	// }
}
.TitleLined {
	display: block;
	position: relative;
	margin: 0;
	width: 32rem;
	max-width: 100%;
	// color: #23e;
	color: #f5f5f5;
	@include font-size(1.5);
	@include line-height(2.1);
	@extend %letter-spacing;
	span {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			max-width: 5rem;
			height: 1px;
			margin-right: 1rem;
			background-color: currentColor;
			opacity: 0.75;
			user-select: none;
			pointer-events: none;
		}
	}
}

.Tickets {
	&Lead {
		display: block;
		width: 22rem;
		max-width: 100%;
	}
}

.CardBox {
	position: relative;
	background-color: #FFF;
	color: #33334a;
	margin-left: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 1.5rem rgba(black, .2);
	// height: 12rem;
	// width: 12rem;
	height: 14rem;
	width: 14rem;
	padding: 1rem;
	text-align: center;
	outline: 0;
	user-select: none;
	transition: 0.2s ease-in-out;
	transform: scale(1);
	transform-origin: 20% 50%;
	user-select: none;
	highlight-color: rgba(0,0,0,0);
	&:active {
		opacity: 0.9;
		transform: scale(0.95);
	}
	img {
		display: block;
		margin: 0 auto;
		width: 8rem;
	}
	.Company {
		display: block;
		text-align: center;
		width: 100%;
		margin-top: 1rem;
		@include font-size(0.95);
		line-height: 1.5;
		// font-weight: bold;
	}
	&Center {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
	}
	&:hover {
		color: #23e;
	}
}

.Social {
	text-align: center;
	&Title {
		// font-family: $system-font;
		margin: 0 0 1rem;
		text-shadow: 0 0 4rem 0.5rem rgba(black, 0.5),
					0 0.5rem 1.25rem rgba(black, 0.1);
		font-weight: bold;
		line-height: 1;
		@include responsive-font(8vw, 2.5rem, 7rem, 3rem, false);
		// text-shadow: 0 1px 2px rgba($mustard-light-color, 0.1);
		// @include margin-bottom(1);
		direction: ltr;
		// @media only screen and (min-width: 85rem) {
		// 	@include margin-bottom(1.5);
		// }
		a {
			color: $mustard-color;
			&:hover {
				color: $mustard-light-color;
			}
		}
	}
}
