{
 "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules":{
    "indent": [1, "tab"],
    "react/jsx-indent": [1, "tab"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent-props": 0,
    "react/prefer-stateless-function": 0,
    "react/no-multi-comp": 0,
    "array-callback-return": 0,
    "consistent-return": 0,
  }
}
